.addcolor{
    color: #18E5DC;
}

.pageTitle{
    background-color: #2B2A2E ;
    padding: 1em;
    margin: 0.5em 0;
    text-align: center;
    height: 1em;
}
.extra{
    margin-top: 5em;
}

.inputLabel{
   align-self: flex-start;
}
.inputText{
    background-color: #0FAEA6;
    width: 80%;
    border-radius:8px;
    margin: 2em auto ;
    color: white;
    text-align: left;
}

.buttonCreate{
    margin: 1em auto;
    width:80% !important;
    --background:#2B2A2E;
}