*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

p {
    font-size: 20px;
}

ion-img {
    display: inline-block;
}

ion-row {
    text-align: center;
}

.logotext ion-img{
    width: 190px;
}

.logotext {
    margin: 30px;
    display: flex;
    justify-content: center;
}
.search{
    text-align: center;
    margin-top: 1em;
}
.searchbar-input.sc-ion-searchbar-md{
    margin-bottom: 20px;
    background-color: white;
    color:grey;
    border-radius:8px;
    text-align: left;
}


/* searchbar-input-container sc-ion-searchbar-ios {
    color: rgb(0, 0, 0);
} */

ion-item {
    --background: #433B45;
}

.img-list {
    width: 170px;
    height: 170px;
}

.textImg {
    margin-top: 10px;
}

.textContacto {
    margin-top: 10px;
    padding:0.3em;
    margin-bottom: 10px;
    color:white;
    background-color: #565357;
}
.textData {
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(177, 173, 173);
    font-size: 15px;
}
.textHigh {
    color:#0FAEA6;
}
.textVer {
    color:#ffffff;
    padding: 0.3em;
    font-size:15px;    
    background-color:#0FAEA6;
}
.textVer:hover{
    cursor: pointer;

}
.removeColor{
    color: #ffffff;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color:#39363A;
    border-radius:8px;
    text-align: center;
    width:100%;
    padding: 1em;
    margin:1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover{
    background-color:#474548;
    cursor: pointer;
}

.addcolor{
    margin-left: 1em;
    color: #18E5DC;
}