ion-content{
    --ion-background-color:#079992;
}

.containerForm{
    margin: 0 auto;
    padding: 2em;
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputLogin{
    align-self: flex-start;
    background-color: white;
    border-radius:8px;
    margin: 1em 0 ;
    color: grey;
    text-align: left;
}

.buttonLogin{
    width:336px;
    --background:#2B2A2E;
}
.buttonRegisto{
    margin-top: 1em;
    width:336px;
    --background:#27CDA5;
}
