ion-tab-bar {
    --background: #39363A;
}

.pageTitle{
    background-color: #2B2A2E ;
    padding: 1em;
    margin: 0.5em 0;
    text-align: center;
    height: 1em;
}

.info-perfil {
    text-align: center;
}

.info-perfil img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.container-contactos {
    margin: 2em auto;
    text-align: center;
    background: #39363A;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
}

.container-ultimosanuncios {
    margin: 2em auto;
    background: white;
    width: 292px;
    text-align: center;
    padding: 0.2em;
    border-radius: 70px;
}

.container-ultimosanuncios h1 {
    color: rgb(72, 71, 71);
}

.container-anuncios {
    width: 100%;
}
.space{
    margin-top:1em;
}
.anuncios {
    background-color:#39363A;
    border-radius:12px;
    text-align: center;
    width:100%;
    padding: 1em;
    margin:1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

a{
    text-decoration: none;
}

.img-anuncio {
    width: 200px;
    height: 200px;
    margin: auto;
    object-fit: cover;
}

.anuncios p {
    padding-top: 10px;
}

.textClose {
    color:#ffffff;
    border-radius: 8px;
    padding: 0.3em;
    font-size:15px;    
    background-color:#ed2626;
}
.textClose:hover{
    cursor: pointer;
}

.textEdit{
    cursor: pointer;
    border-radius: 8px;
    padding: 1em;
    background-color:rgb(77, 75, 75);
}

.marginText{
    margin-left: 1em;
}