.buttonLogin{
    width:336px;
    --background:#2B2A2E;
    margin-top: 1em;
}
.buttonRegisto{
    width:336px;
    --background:#27CDA5;
}

.containerForm{
    margin: 0 auto;
    padding: 2em;
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputRegisto{
    align-self: flex-start;
    width: 80%;
    background-color: white;
    border-radius:8px;
    margin: 1em auto ;
    color: grey;
    text-align: left;
}
.titleRegisto{
    text-align: center;
}
.alert-wrapper.sc-ion-alert-md{
    --background: #2B2A2E;
  }